<?xml version="1.0"?>
<!--
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<ExamineLuceneIndexSets>
  <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
  <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Internal/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName" />
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="path" />
      <add Name="nodeTypeAlias" />
      <add Name="parentID" />
    </IndexAttributeFields>
    <IndexUserFields />
    <IncludeNodeTypes/>
    <ExcludeNodeTypes />
  </IndexSet>

  <!-- The internal index set used by Umbraco back-office for indexing members - DO NOT REMOVE -->
  <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/InternalMember/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName"/>
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="loginName" />
      <add Name="email" />
      <add Name="nodeTypeAlias" />
    </IndexAttributeFields>
    <IndexUserFields/>
    <IncludeNodeTypes/>
    <ExcludeNodeTypes />
  </IndexSet>

  <!-- Default Indexset for external searches, this indexes all fields on all types of nodes
    <IndexSet SetName="SiteContentIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/SiteContent/">
    <IndexAttributeFields>
        <add Name="id" EnableSorting="true" Type="Int32" />
        <add Name="nodeName" EnableSorting="true" />
        <add Name="createDate" EnableSorting="true" Type="DateTime" />
        <add Name="updateDate" EnableSorting="true" Type="DateTime" />
        <add Name="creatorName" />
        <add Name="writerName" />
        <add Name="path" />
        <add Name="parentID" />
        <add Name="nodeTypeAlias" />
    </IndexAttributeFields>
    <IndexUserFields>
        <add Name="title" />
        <add Name="intro" />
        <add Name="contents" />
        <add Name="metaTitle" />
        <add Name="metaKeywords" />
        <add Name="metaDescription" />
    </IndexUserFields>
    <ExcludeNodeTypes>
        <add Name="Image" />
        <add Name="Folder" />
    </ExcludeNodeTypes> 		
    </IndexSet>-->

    <IndexSet SetName="SiteContentIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/SiteContent/">
        <IndexAttributeFields>
            <add Name="nodeName" EnableSorting="true" />
            <add Name="createDate" EnableSorting="true" Type="DateTime" />
            <add Name="updateDate" EnableSorting="true" Type="DateTime" />
            <add Name="nodeTypeAlias" />
            <add Name="parentID" />
        </IndexAttributeFields>
        <IndexUserFields>
            <add Name="title" />
            <add Name="intro" />
            <add Name="contents" />
            <add Name="metaTitle" />
            <add Name="metaKeywords" />
            <add Name="metaDescription" />
            <add Name="name" />
            <add Name="position" />
            <add Name="bioText" />
            <add Name="date" Type="DateTime" />
            <add Name="tags" />
        </IndexUserFields>
        <IncludeNodeTypes>
            <add Name="pubVideoArchive" />
            <add Name="mainPage" />
            <add Name="pubPerson" />
            <add Name="subPerson" />
            <add Name="pubDocuments" />
            <add Name="pubInfraProjects" />
            <add Name="pubInfraProject" />
            <add Name="pubContact" />
            <add Name="subContact" />
            <add Name="pubNews" />
            <add Name="subNews" />
            <add Name="pubNewsItem" />
            <add Name="subNewsItem" />
            <add Name="pubUnities" />
            <add Name="pubPartners" />
            <add Name="pubSiteSection" />
            <add Name="pubPersons" />
            <add Name="subPersons" />
            <add Name="pubArticle" />
            <add Name="subArticle" />
            <add Name="subAffiliates" />
            <add Name="pubGalleries" />
            <add Name="subGalleries" />
            <add Name="pubGallery" />
            <add Name="subGallery" />
            <add Name="pubVideo" />
        </IncludeNodeTypes>
    </IndexSet>
</ExamineLuceneIndexSets>