@using umbraco.NodeFactory

<ul id="affiliatesList">
    @foreach (var node in (Node as Node).GetChildNodes())
    {
        var title = node.GetProperty<string>("title");
        if (string.IsNullOrEmpty(title)) { title = node.Name; }
        <li><a href="@node.Url" title="@node.Name" rel="@node.Id">@title</a></li>
    }
</ul>