

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {

}

h2 {

}

.imgLeft {
float: left; margin: 0 10px 10px 0; border: 1px solid #8e8e8e;
}

.imgRight {
float: right; margin: 0 0 10px 10px; border: 1px solid #8e8e8e;
}

.tblTxt {

}

