<%@ Master Language="C#" MasterPageFile="~/masterpages/pubInnerPage.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="contentAreaInner" runat="server">
	<script type="text/javascript" src="/scripts/jquery.form.js"></script>
	<umbraco:Item field="contents" runat="server" />
    <umbraco:Macro Alias="[pub]MultidestFeedbackForm2" runat="server" />
</asp:content>