<%@ Master Language="C#" MasterPageFile="~/masterpages/pubInnerPage.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="headerAreaInner" runat="server"><umbraco:Macro Alias="[sec]InsertPicture" runat="server" /></asp:content>