<%@ Master Language="C#" MasterPageFile="~/masterpages/AJAX.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="contentArea" runat="server">
<umbraco:Macro Alias="[ajax]SendMultidestFeedback1" runat="server" />
</asp:content>