<%@ Master Language="C#" MasterPageFile="~/masterpages/pubWidePage.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="contentAreaInner" runat="server">
	<umbraco:Item field="contents" runat="server" />
	<umbraco:Macro Alias="[pub]RenderSitemap" runat="server" />
</asp:content>