<%@ Master Language="C#" MasterPageFile="~/masterpages/subAffiliate.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="contentAreaSub" runat="server">
	<umbraco:Item field="contents" runat="server" />
	<umbraco:Macro pageNum="[@page]" pageSize="2" Alias="[pub]News" runat="server" />	
</asp:content>